body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}
section {
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(229, 222, 222);
}
a {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    padding: 10px;
    border: 1px double burlywood;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
}
a:link {
    color: hotpink;
}
a:visited {
    color: tomato;
}
a:hover {
    background-color: blanchedalmond;
}
p:not(.maravillas) {
    color: blueviolet;
}
.maravillas::before {
    content: "🙈";
}
.test p:last-of-type::after {
    content: "🤩";
}
.circle {
    background-color: #443ec5;
    background-image: linear-gradient(149deg, #443ec5 1%, #83d5b7 56%, #c71591 100%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.shadow {
    background-color: #807cc4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.square {
    width: 150px;
    height: 150px;
    background-color: tomato;
    border-radius: 20%;
}
.ctrans:hover {
    transform: translate(10%, 20px);
}
.cscale:hover {
    transform: scale(1.5, 1.3);
}
.sskew:hover {
    transform: skew(20deg, 10deg);
}
.srotate:hover {
    transform: rotate(20deg);
}
.origin {
    transform-origin: left top;
}
.origin:hover {
    transform: rotate(45deg);
}
.dimension {
    position: relative;
    perspective: 200px;
}
.rotate3d:hover {
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}
.card {
    width: 150px;
    height: 230px;
    transform-style: preserve-3d;
    position: relative;
    transition: all 1s linear;
}
.card-container:hover .card {
    transform: rotateY(180deg);
}
.face-card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backface-visibility: hidden;
}
.card .front {
    background-color: #807cc4;
}
.card .back { 
    background-color: tomato;
    transform: rotateY(180deg);
}
.card-container {
    perspective: 1000px;
}

.container {
    width: 150px;
    height: 150px;
    margin: 75px 0 0 75px;
    border: none;
  }
  
.cube {
    width: 100%;
    height: 100%;
    perspective: 600px;
    perspective-origin: 170% 170%;
    transform-style: preserve-3d;
}
  
.face {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
}
  
  /* Define each face based on direction */
.front {
    background: rgba(167, 3, 3, 0.4);
    transform: translateZ(50px);
}
  
.back {
    background: rgb(0, 229, 255);
    color: black;
    transform: rotateY(180deg) translateZ(50px);
}
  
.right {
    background: rgba(221, 7, 241, 0.7);
    transform: rotateY(90deg) translateZ(50px);
}
  
.left {
    background: rgba(212, 248, 37, 0.7);
    transform: rotateY(-90deg) translateZ(50px);
}
  
.top {
    background: rgba(191, 168, 252, 0.7);
    transform: rotateX(90deg) translateZ(50px);
}
  
.bottom {
    background: rgba(37, 249, 118, 0.7);
    transform: rotateX(-90deg) translateZ(50px);
}
  